<p id="notice"><%= notice %></p>

<p>
  <b>Num:</b>
  <%= @author.num_id %>
</p>

<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>Firstname:</b>
  <%= @author.firstname %>
</p>

<p>
  <b>Lab:</b>
  <%= @author.lab %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
